@mixin rtl($name, $background) {
    a[class*=#{$name}]:hover,
    a[class*=#{$name}] span,
    a[class*=#{$name}] span:before {background: #{$background};}
}
@mixin border($position, $px){
    
    border-#{$position}-right-radius: #{$px};
    border-#{$position}-left-radius: #{$px};
}
.sidebar{
.sidebar__collapse{
    color: $white;
    z-index: 100;
    width: 80px;
    height: 40px;
    background-color: transparent;
    left: 0;
    position: fixed;
    top: 30%;
    padding-left: -30px;
    .sidebar__button{
        height: 35px!important;
    }
}
.sidebar__social {
    z-index: 100;
    left: 0;
    position: fixed;
    top: 30%;
    list-style: none;
        li{
            &:first-child { 
                .sidebar__enytpo{
                @include border(top, 25px)
                }
            }
            &:last-child{
                .sidebar__enytpo{
                    @include border(bottom, 25px);
                    @include border(top, 0px);
                }
            }
            .active{
                color: $purple;
                .sidebar__name{
                    color:$white;
                }
            }
            .sidebar__enytpo{
                background: $red;
                color: $white;
                text-decoration: none;
                display: block;
                height: 50px;
                width: 50px;  
                font-size: 24px;
                line-height: 50px;
                position: relative;
                text-align: center;
                cursor: pointer;
                &:hover{
                    .sidebar__name{
                        left: 120%;
                        opacity: 1;
                    }
                }
                .sidebar__name{
                    font: 12px $regular;
                    text-transform: uppercase;
                    border-radius: 3px;
                    line-height: 24px;
                    left: -100%;
                    margin-top: -16px;
                    opacity: 0;
                    padding: 4px 8px;
                    position: absolute;
                    transition: opacity .3s, left .4s;
                    top: 50%;
                    z-index: -1;
                    &:before{
                        content: "";
                        display: block;
                        height: 8px;
                        width: 8px;
                        left: -4px;
                        margin-top: -4px;
                        position: absolute;
                        top: 50%;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        @include rtl(house, $edge);
        @include rtl(person,$edge);
        @include rtl(projects, $edge);
        @include rtl(contact, $edge);
        @include rtl(cv, $edge);
        @include rtl(collapse, $edge);

   }   
}
@mixin sidebar-responsive-sm{
    .sidebar__collapse{
        padding-left: 5px!important;
    }
    .sidebar__social {
        padding-left: 5px;
    }
}