.contact{
    padding-top: 10%;
    min-height: 100vh;
    background: linear-gradient(90.21deg, $red -5.91%, $purple 111.58%);
    .contact__input {
        border: 2px solid $warning;
    }
    .contact__text{
        font-size: 2.5rem;
        font-weight: bold;
        p{
            &:nth-child(2){
                color: orange;
            }
        }
    }

    
}
