.curriculum{
    padding-top: 10%;
    padding-bottom: 6%;
    min-height: 120vh;
    color: white;
    .curriculum__accordion{
        border: none;
        
    }
    .curriculum__readmore{
        &::after{
            background-image: none;
        }
        span{
            margin-left: 35%;
            margin-right: auto;
        }
    }
    .shadow{
        
        box-shadow: 0px -136px 104px -39px rgba(0,0,0,0.37);
    }
}

@mixin curriculum-responsive-sm{
   
}