.home{
    min-height: 120vh;
    background-color: transparent;
    color: white;
    padding-bottom: 50px;
    .home__texts{
        padding-top: 30%;
        .home__text{
            font-size: 1.5em;
        }
    }
    .home__image{
        @include background-cover-center;
        border-radius: 0 0px 0px 12.5em;
        height: 110vh;
    }
    .home__contacts{
        margin-top: 10%;
        .home__icon{
            &:hover{
                animation:vibrate .5s infinite;
                transition: all .4s;
                transition-property: all;
                transition-duration: 0.4s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }
        }
    }
}

////////////////////////////////
//keyframes
////////////////////////////////
@keyframes vibrate{
    0%{transform:rotate(8deg) scale(1.04)
    }
    50%{transform:rotate(-8deg) scale(1.04)
    }
    100%{transform:rotate(8deg) scale(1.04)
    }
}

////////////////////////////////
//Resonsive
////////////////////////////////

@mixin home-responsive-sm{
    .home{
        .home__image{
            height: 40vh!important;
        }
        .home__texts{
            padding-top: 10%;
        }
    }
}