.home{
    min-height: 120vh;
    background-color: transparent;
    color: white;
    padding-bottom: 50px;
    .home__card{
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        border-radius: 10px;
        .home__circle{
            border-radius: 50%;
            height: 12.5rem;
            width: 12.5rem;
            margin-left: auto;
            margin-right: auto;
            background-color: $black;
            background-image: url('../../image/man.svg');
            border: 5px solid black;
            @include background-cover-center;
            box-shadow: 0px 0px 20px black inset, 0px 0px 25px blue;
            }
        }
        .home__text{
            font-size: 1.5em;
            margin-top: 20px;
        }
    }
    .home__contacts{
        margin-top: 10%;
        .home__icon{
            &:hover{
                animation:vibrate .5s infinite;
                transition: all .4s;
                transition-property: all;
                transition-duration: 0.4s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }
        }
    }


////////////////////////////////
//keyframes
////////////////////////////////
@keyframes vibrate{
    0%{transform:rotate(8deg) scale(1.04)
    }
    50%{transform:rotate(-8deg) scale(1.04)
    }
    100%{transform:rotate(8deg) scale(1.04)
    }
}

////////////////////////////////
//Resonsive
////////////////////////////////

@mixin home-responsive-sm{
    .home{
        .home__texts{
            padding-top: 10%;
        }
    }
}