@mixin expanded {
    background-color: rgba($red, 0.543);
    height: 30rem;
}

.home{
    padding-top: 1%;
    min-height: 120vh;
    background-color: transparent;
    color: $white;
    padding-bottom: 50px;
    background-image: url('../../image/galaxy.png');
    @include background-cover-center;
    z-index: 2;
    .home__cont{
        font-weight: bold;
        padding-top: 1%;
        overflow: hidden;
        position: absolute;
        left: 20vw;
        height: 15rem;
        width: 14rem;
        transition: all .4s ease-in-out;
        border-radius: 5px;
        animation: traslacion 10s;
        animation-timing-function: linear;
        animation-iteration-count:1;
        background-color: transparent;
        animation-direction: normal;
        .home__circle{
            border-radius: 50%;
            height: 12.5rem;
            width: 12.5rem;
            margin-left: auto;
            margin-right: auto;
            background-color: $black;
            background-image: url('../../image/planet.png');
            border: 5px solid black;
            @include background-cover-center;
            box-shadow: 0px 0px 20px black inset, 0px 0px 25px blue;
            animation: girar 20s linear infinite;
            animation-direction: alternate;
        }
    }
    .home__expanded{
        @include expanded
    }
    .home__contacts{
        margin-top: 20%;
        .home__icon{
            &:hover{
                animation:vibrate .5s infinite;
                transition: all .4s;
                transition-property: all;
                transition-duration: 0.4s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }
        }
    }
    .home__cv{
        margin-top: 20px;
        width: 80%;
    }
    }
    


////////////////////////////////
//keyframes
////////////////////////////////
/// 
@keyframes traslacion{
    0%{}
    25%{}
    50%{}
    75%{left: 44vw;}
    100%{}
}
@keyframes girar{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}
@keyframes vibrate{
    0%{transform:rotate(8deg) scale(1.04)
    }
    50%{transform:rotate(-8deg) scale(1.04)
    }
    100%{transform:rotate(8deg) scale(1.04)
    }
}

////////////////////////////////
//Resonsive
////////////////////////////////

@mixin home-responsive-sm{
    .home{
        .home__cont{
            left: 24vw;
            animation: none;
        }
    }
}

@mixin home-responsive-height-sm{
    .home{
        min-height: 150vh;
    }
}