.skills{
    padding-top: 10%;
    padding-bottom: 6%;
    min-height: 100vh;
    .skills__texts{
        margin-bottom: 10%;
    }
}

////////////////////////////////
//Resonsive
////////////////////////////////
/// 
@mixin skills-responsive-sm{
    .skills{
        .skills__front{
            margin-bottom:3em;
        }
    }
}