html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
    
body{
    background-color: $white;
    //min-height: 100vh;
    //background: rgb(2, 2, 26);
    background-attachment: fixed;
    font-family: $regular;
    animation: move 1s linear infinite forwards;
}
.height_maximum{
    height: 100%;
}
