html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
    
body{
    background-color: $white;
    background-attachment: fixed;
    font-family: $regular;
}

.height_maximum{
    height: 100%;
}
