$lg: 992px;
$md: 767px;
$sm: 576px;
$xxl: 1400px;

@media all and (max-width: $xxl){
    @include skills-responsive-xxl;
 }

@media all and (max-width: $lg){

}

@media all and (min-width:$md ) and (max-width: $lg){
    
}

@media all and (max-width: $md){
    @include header-responsive-md;
    @include contact-responsive-md;
    @include skills-responsive-md;
}

@media all and (min-width:$sm ) and (max-width: $md){
    
}

@media all and (max-width: $sm){
////////////////////////////////
//1- Components
////////////////////////////////

@include sidebar-responsive-sm;

////////////////////////////////
//1- Section
////////////////////////////////
@include home-responsive-sm;
@include skills-responsive-md;
@include curriculum-responsive-sm;
 ////////////////////////////////
//2- Pages
////////////////////////////////

}

@media all and (max-height: 576px){
    @include projects-responsive-height-sm(20%);
    @include home-responsive-height-sm;
}

@media all and (max-height: 500px){
    @include projects-responsive-height-sm(40%);
}

@media all and (max-height: 500px){
    @include projects-responsive-height-sm(90%);
}