////////////////////////////////
//1- Patron de Colores
////////////////////////////////
$white-shadow: #a9a3a3;

////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////


////////////////////////////////
//2- Fonts
////////////////////////////////
$title: 'Courgette', cursive;
$regular: 'Nunito Sans', sans-serif;

////////////////////////////////
//3- mixins generals
////////////////////////////////
