////////////////////////////////
//1- Patron de Colores
////////////////////////////////
$white-shadow: #a9a3a3;
$blue-transparent: rgba(1,4,21,.4);
$green: #0fc60f;
$white: #f1efef;
////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////
$accordion-color:transparent;
////////////////////////////////
//2- Fonts
////////////////////////////////
$title: 'Courgette', cursive;
$regular: 'Nunito Sans', sans-serif;

////////////////////////////////
//3- mixins generals
////////////////////////////////
@mixin background-cover-center{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
