////////////////////////////////
//1- Patron de Colores
////////////////////////////////
$white-shadow: #a9a3a3;
$blue-transparent: rgba(1,4,21,.4);
$green: #0fc60f;
$white: #f1efef;
////////////////////////////////
//Mi paleta de colores
////////////////////////////////
$black: #1B1834;
$blue: #9999ff;
$red: #BD1E6F;
$purple:#5E2050;
$edge: #801764;
$warning: #FCA61F;
////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////
$enable-shadows: true;
$enable-gradients: true;
///Button
$btn-border-radius-sm: .6rem;
$btn-border-radius-lg: 1rem;
$btn-border-radius: 3rem;
///Accordion
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-active-color:  shade-color($black, 10%);
$accordion-button-focus-box-shadow:  $black;
///Form
$input-padding-y: 1rem;
$input-border-radius: 1rem;
$input-border-color: 1px solid rgba(255, 255, 255, 0.5);
$input-bg: rgba(255, 255, 255, 0.1);
$input-placeholder-color: #fff;
$input-font-weight: 500;

.accordion-button{
    &:active{
        color: $blue!important;
    }
}

////////////////////////////////
//2- Fonts
////////////////////////////////
$title: 'Courgette', cursive;
$regular: 'Nunito Sans', sans-serif;
$font-icon: 10px;
////////////////////////////////
//3- mixins generals
////////////////////////////////
@mixin background-cover-center{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
